*.info
*.bin
*.lock
*.ide
*.log
/src/HoloQuickNav2/.vs
/src/HoloQuickNav2/Library/metadata
/src/HoloQuickNav2/Library/ScriptAssemblies
/src/HoloQuickNav2/UWP
/src/HoloQuickNav2/Temp
/src/HoloQuickNav2/Library/PlayerDataCache/Data/Managed
/src/HoloQuickNav2/Library/*.log
*.buildreport
